{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="header">
							<h4 class="title">Ajouter un produit</h4>
						</div>
						<div class="content">
							<form id="validateFormProduct" method="post" action="/admin/product/store">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label for="product_name">Nom</label>
											<input type="text" id="product_name" class="form-control" name="product_name" placeholder="Nom du produit">
											<small id="product_namecheck" class="text-danger"></small>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group" data-item="provider" data-id="">
											<label>Fournisseur</label>
											<div class="select-box provider-select-box-">
												<div class="options-container provider-options-container-"></div>
												<div class="selected provider-selected-"></div>
												<div class="search-box provider-search-box-">
													<input type="text" class="form-control" placeholder="Nom de fournisseur..."/>
												</div>
											</div>
											<small id="providercheck" class="text-danger"></small>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label for="unit_price">Prix unitaire</label>
											<input type="text" id="unit_price" class="form-control" name="unit_price" placeholder="Prix unitaire"/>
											<small id="punit_pricecheck" class="text-danger"></small>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<label class="toggle">
											<span for"active" class="toggle-label">Activé</span>
											<input class="toggle-checkbox" id="active" name="activated" type="checkbox">
											<div class="toggle-switch"></div>

										</label>
									</div>
								</div>
								<button type="submit" id="submit" class="btn btn-info btn-fill pull-right">Ajouter</button>
								<div class="clearfix"></div>
							</form>

						</div>
					</div>
				</div>


			</div>


		{% endblock %}
